[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
keyboard = ">=0.13.5"
pygame = ">=2.5.0"
pyqt6 = ">=6.0.0"
pyyaml = ">=6.0.1"

[dev-packages]

[requires]
python_version = "3.12"
